<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/prescription.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>E-Prescription</title>
</head>

<body>
    <article class="container-fluid px-0 my-5">
        <header class="text-white bg-cadet-blue p-3">
            <div class="row container-md align-items-center justify-content-between justify-content-sm-center mx-auto">
                <div class="col-9 col-lg-6 py-5">
                    <h1 class="text-uppercase"><%= data.hospitalName %></h1>
                    <div class="mt-4">
                        <h6><i class="fas fa-map-marker-alt"></i> <%= data.location %></h6>
                        <h6><i class="far fa-envelope"></i> <%= data.emailID %></h6>
                        <h6><i class="fas fa-globe"></i> <%= data.website %></h6>
                    </div>
                </div>
                <div class="col-3 col-lg-2">
                    <img src="/doc.png" class="img-fluid" alt="doc">
                </div>
            </div>
        </header>
        <section class="container-md my-5 py-5" id="doctor-details">
            <div class="row mx-0 justify-content-center">
                <div class="col-6 col-lg-4 py-2">
                    <h5 class="text-cadet-blue py-2"><%= data.docName %></h5>
                    <h5 class="py-2"><%= data.specialisation %></h5>
                    <h5 class="py-2"><%= data.contact %></h5>
                </div>
                <div class="col-6 col-lg-4 text-right py-2">
                    <h5 class="py-2">Prescription No.: 3810BN00</h5>
                    <h5 class="py-2">Date: 15/04/2020</h5>
                </div>
            </div>
        </section>
        <section class="container-md my-5">
            <div class="row mx-0 justify-content-center">
                <div class="col-lg-8 py-2">
                    <% for (let i = 0; i < 0.25*(Object.keys(data).length - 11); i++) { %>
                    <h5 class="py-2"><%= data["drug" + i.toString()] %>, <%= data["dosage" + i.toString()] %>,
                        <%= data["freq" + i.toString()] %> x
                        <%= data["duration" + i.toString()] %></h5>
                    <% } %>
                </div>
            </div>
        </section>
        <section class="container-md my-5">
            <div class="row mx-0 justify-content-center">
                <div class="col-4 col-lg-3 text-cadet-blue py-2">
                    <h5 class="py-2">Mr./MS/Mrs.</h5>
                    <h5 class="py-2">Age:</h5>
                    <h5 class="py-2">Address:</h5>
                    <h5 class="py-2">Contact Number:</h5>
                </div>
                <div class="col-8 col-lg-5 py-2">
                    <h5 class="py-2"><%= data.patientName %></h5>
                    <h5 class="py-2"><%= data.age %></h5>
                    <h5 class="py-2"><%= data.address %></h5>
                    <h5 class="py-2"><%= data.contact %></h5>
                </div>
            </div>
        </section>
        <footer class="bg-cadet-blue text-white">
            <div class="row container-md align-items-center justify-content-center mx-auto">
                <div class="col-6 col-lg-4 py-3">
                    <h6 class="mb-0"><i class="fas fa-phone-alt text-white"></i> <%= data.contact%></h6>
                </div>
                <div class="col-6 col-lg-4 py-3">
                    <h6 class="text-right mb-0"><i class="far fa-envelope"></i> <%= data.emailID %></h6>
                </div>
            </div>
        </footer>
    </article>
</body>

</html>